@use 'src/index';

.project___container {
    @extend %container;
    flex-direction: column;
    margin-top: 1rem;

    .title-wrapper {
        margin-top: 1rem;
        
        h1 {
            text-align: center;
            font-size: 2rem;
        }
        p {
            text-align: center;
        }
    }

    .content-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 2rem;


        .project-box {
            width: 300px;
            margin-top: 2rem;
            box-shadow: 1px 0 3px index.$orange-500;
            border: 1px solid index.$orange-500;
            border-radius: 1rem;
            margin-left: 2rem;
            transition: .3s;

            .project-image {
                width: 280px;
                height: 200px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    border-radius: 2rem;
                
                }
            }

            .description {
                margin-top: 1rem;
                padding: 1rem;

                h1 {
                    font-size: 1rem;
                }

                p {
                    padding-bottom: 1rem;
                    font-weight: normal;
                }
                a {
                    border-radius: 1rem;
                    text-decoration: none;
                    color: index.$text-white;
                    background-color: index.$black;
                    padding: 5px;
                    font-size: .9rem;
                    &:hover {
                        color: index.$orange-500;
                        background: index.$background;
                    }
                }
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


@media (max-width: index.$break-point-xl) {
    .project___container {
        .content-wrapper {

            gap: 3rem;
            margin-left: 2rem;
            .project-box {
                width: 260px;
                margin-left: -2rem;
                
                .project-image {
                    width: 260px;
                    height: 200px;
                    
                    img {
                        object-fit: cover;
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: index.$break-point-md){
    .project___container {
        .content-wrapper {
            margin-left: 4.5rem;

            .description {
                h1 {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: index.$break-point-xs){
    .project___container {
        .content-wrapper {
            margin-left: 3.2rem;

            .project-box {
                .description {
                    h1 {
                        font-size: .9rem;
                    }
                    p {
                        font-size: .8rem;
                    }

                }
            }
        }
    }
}


@media (max-width: 320px){
    .project___container {
        .content-wrapper {
            gap: 1rem;
            .project-box {
                width: 220px;

                .project-image {
                    width: 220px;
                }
            }
        }
    }
}