@use 'src/index';

.project___container {
    @extend %container;
    flex-direction: column;
    margin-top: 1rem;

    .title-wrapper {
        margin-top: 1rem;
        
        h1 {
            text-align: center;
            font-size: 2rem;
        }
        p {
            text-align: center;
        }
    }

    .content-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card {
            background-color: gainsboro;
            border-radius: .5rem;
            padding: 1rem 0;
            margin-top: 1rem;
            margin-right: 4rem;
            .image-box {
                padding: 1rem;
                width: 300px;
                height: 280px;
                border-radius: .5rem;
                img {
                    border-radius: .5rem;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .text-box {
                padding: 1rem;
                .title {
                    font-size: 1rem;
                    font-weight: normal;
                }
            }
            .btn-more {
                margin-left: 1rem;
                border: none;
                padding: .6rem;
                cursor: pointer;
                color: white;
                background-color: cadetblue;
                border-radius: .5rem;

                &:hover {
                    background-color: index.$orange-500;
                }
            }
        }

    }
}


// @media (max-width: index.$break-point-xl) {
//     .project___container {
//         .content-wrapper {

//             gap: 3rem;
//             margin-left: 2rem;
//             .project-box {
//                 width: 260px;
//                 margin-left: -2rem;
                
//                 .project-image {
//                     width: 260px;
//                     height: 200px;
                    
//                     img {
//                         object-fit: cover;
//                         width: 90%;
//                     }
//                 }
//             }
//         }
//     }
// }

@media (max-width: index.$break-point-md){
    .project___container {
        .content-wrapper {
            margin-left: 4.5rem;
        }
    }
}

@media (max-width: index.$break-point-xs){
    .project___container {
        .content-wrapper {
            // margin-left: 3.2rem;

            .card {
                .image-box {
                    width: 200px;
                    height: 200px;
                    margin-right: auto;
                    
                }
            }
        }
    }
}


@media (max-width: 320px){
    .project___container {
        .content-wrapper {
            gap: 1rem;
            .project-box {
                width: 220px;

                .project-image {
                    width: 220px;
                }
            }
        }
    }
}