@use "src/index";

.about___container {
  @extend %container;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;

  .about-wrapper {
    display: flex;
    justify-content: center;
    .profile-picture {
      width: 200px;
      height: 200px;
      margin-right: 2rem;

      .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    .about-block {
      margin-left: 6rem;
      width: 700px;

      h1 {
        font-weight: 600;
        font-size: 2rem;
        // color: index.$orange-500;
      }

      p {
        margin-top: 1rem;
        letter-spacing: 1px;
        span {
          letter-spacing: 1px;
        }

        strong {
          font-weight: 800;
        }
      }
    }
  }
}

@media (max-width: index.$break-point-xl) {
  .about___container {
    max-width: 80%;
    margin: auto;
    .about-wrapper {
      width: 100vw;
      padding: 4rem 0;
      .profile-picture {
        height: 200px;
        width: 200px;
        margin-left: 2rem;
        margin-top: 1rem;
      }

      .about-block {
        width: 50vw;
        margin-right: 4rem;
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: index.$break-point-md) {
  .about___container {
    .about-wrapper {
      width: 100vw;
      .profile-picture {
        width: 200px;
        height: 200px;
        margin-left: 3rem;
      }

      .about-block {
        h1 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: index.$break-point-sm) {
  .about___container {
    margin-top: 4rem;
    .about-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      .profile-picture {
        width: 200px;
        width: 200px;
        margin-top: -2rem;
      }

      .about-block {
        margin-top: 2rem;
        padding: 1rem;
        width: 90vw;

        h1 {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: index.$break-point-xs) {
  .about___container {
    .about-block {
      width: 250px;
      margin-left: -2rem;
    }
  }
}

@media (max-width: 320px) {
  .about___container {
    .about-block {
      width: 200px;
      margin-left: -1.8rem;
    }
  }
}
