@use "src/index";
$text-gray: #252525;
.footer-container {
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $text-gray;

  .section-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nav-link {
      width: 14rem;
      margin-right: 3rem;

      .link {
        margin-top: 1rem;
        text-decoration: none;
        span {
          color: white;
          font-size: 3rem;
          font-weight: bolder;
        }
      }
    }

    .nav-email {
      margin-right: 2rem;
      li {
        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: #ff6300;
          }
        }
      }
    }
  }
  .section-more {
    .article-more {
      .title {
        color: white;
      }
    }
    .nav-more {
      li {
        .more-link {
          color: white;
          text-decoration: none;

          &:hover {
            color: #ff6300;
          }
        }
      }
    }
  }
  .section-social {
    .article-social {
      .title {
        color: white;
      }
    }

    .nav-social {
      li {
        a {
          text-decoration: none;
          color: white;

          &:hover {
            color: #ff6300;
          }
        }
      }
    }
  }
}

.license {
  background: index.$gray;
  padding: 5px;
  p {
    text-align: center;
    color: index.$text-white;
    span {
      color: index.$orange-500;
    }
  }
}

@media (max-width: index.$break-point-sm) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .section-logo {
      margin-left: 3rem;
      .nav-link {
        margin-left: 3rem;

        span {
          font-size: 1rem;
        }
      }
    }

    .section-more {
      margin: 1rem 1rem;
    }
    .section-social {
      margin: 1rem 1rem;
    }
  }
}

@media (max-width: index.$break-point-xs) {
  .footer-container {
    .section-logo {
      .nav-link {
        span {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .footer-container {
    width: 100vw;
    margin-left: 1rem;
  }
  .license {
    width: 100vw;
    margin-left: 1rem;
  }
}
